style.css

.body{
    background-color: #dfdfdf; 
}

.navbar-custom {
    max-height: 100px; 
	background-color: #bbbbc0; 
    font-size: 15px; 
}

.image{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px}

.comparison-image{
    width: 400px;
    height: 300px
}