style.css

.body{
    background-color: #dfdfdf; 
}

.navbar-custom {
    max-height: 100px; 
	background-color: #bbbbc0; 
    font-size: 15px; 
}

.image{
    padding: 20px;
}

.viz-image{
    padding: 10px;
    max-width:250px;
    height:150px;
    border: 3px solid white; 
}
.viz-image:hover { 
    border: 3px solid #eff7fa; 
}

.comparison-image{
    max-width:70%;
    height:auto;
    padding: 20px

}

.comparison-main-image{
    max-width:80%;
    height:auto;
}

.comparison-header{
    font-weight: bolder;
    font-style: italic;
}

h5{
    padding: 10px;
    text-align: left;
    background-color: #eff7fa; 
}